body {
    background: #050505;
    color: azure;
}
body,
input,
button {
    font-family: 'Helvetica';
}
h1,
h2,
h3,
ul,
#newPumperName {
    text-align: center;
}
.pumpLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newPumperName {
    padding: 10px 0;
    border-radius: 8px;
    background-color: azure;
    width: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    border: 4px solid dodgerblue;
    border-radius: 8px;
    width: 200px;
}
#newPumperName,
li {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 150%;
}
button {
    height: 30px;
    width: 100px;
}
.wrapper {
    margin: 0 auto;
    width: 340px;
}
.addNewPumper {
    width: 240px;
    height: 40px;
    font-size: 125%;
}
.repsRow {
    display: grid;
    grid-template-columns: 95px 40px 10px 55px 40px 60px 40px;
    & h6,
    & div,
    & input,
    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        text-align: center;
    }
    & input {
        font-size: 110%;
        background: orange;
        height: 20px;
    }
    & .exercise {
        font-size: 70%;
    }
    & .weightInTotal {
        font-size: 140%;
    }
    & .completedSet,
    & .removeSet {
        font-size: 180%;
        height: 28px;
    }
    & .setComplete {
        background: #00cc00;
    }
}
.removeRow {
    max-height: 0;
}
.bottomRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}
.hidden {
    display: none;
}
.workoutList {
    display: grid;
    grid-template-columns: 3fr 0.4fr;
    grid-row-gap: 5px;
    width: 200px;
    margin: 0 auto;
    border-top: 1px solid azure;
    border-bottom: 1px solid azure;
    padding: 10px;
}
.weightLiftedModal {
    width: 300px;
    border: 4px solid dodgerblue;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    background: #050505;
    z-index: 100;
}
.closeModal {
    height: 50px;
    width: 104px;
    max-width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}