body,
input {
    background-color: #050505;
    color: azure;
    font-family: 'Helvetica', Arial, sans-serif;
}
h1 {
    text-align: center;
}
.primaryGridContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}
.weightLiftedModal {
    width: 50%;
    border:
    4px solid dodgerblue;
    border-radius:
    8px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding:
    20px;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    background: #050505;
    z-index: 100;
}
h2, h3 {
    text-align: center;
}
.row,
.dataRow,
.headerRow,
.bottomRow {
    display: flex;
    align-items: center;
    max-height: 44px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.saveContainer,
.nameContainer,
.exerciseContainer,
.buttonContainer,
.repsContainer {
    max-width: 104px;
    margin: 4px 8px;
}
.saveContainer input {
    background-color: dodgerblue;
}
input,
#saveWorkout {
    max-width: 104px;
    height: 30px;
    border: 2px solid azure;
    border-radius: 4px;
    text-align: center;
}
#saveWorkout {
    width: 104px;
}
.buttonContainer {
    height: 30px;
    width: 104px;
    max-width: 104px;
    border: 2px solid gray;
    background: dimgray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.repsContainer input {
    background-color: darkred;
    color: azure;
    text-align: left;
}
.repsContainer input,
.nameContainer input {
    font-size: 150%;
}
.repsContainer {
    position: relative;
}
.completeRep {
    background:
    azure;
    height: 36px;
    position: absolute;
    width: 45px;
    right: -6px;
    top: 0;
    border-bottom-right-radius: 4px;
    z-index: 10;
    color: #050505;
    display: flex;
    align-items: center;
    justify-content: center;
}
.resetButton {
    max-width: 80px;
    margin: 0 18px;
}
.removeRow {
    max-height: 0;
}
