body {
    background: #050505;
    color: azure;
}
@keyframes savedWorkout {
    0% {
        background: lightgreen;
    }
    100% {
        background: #050505;
    }
}
.savedWorkout {
    animation: savedWorkout 0.8s linear;
    animation-iteration-count: 1;
}
body,
input,
button {
    font-family: 'Helvetica';
}
h1,
h2,
h3,
ul,
#newPumperName,
#bodyWeight {
    text-align: center;
}
.pumpLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newPumperName {
    padding: 10px 0;
    border-radius: 8px;
    background-color: azure;
    width: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    border: 4px solid dodgerblue;
    border-radius: 8px;
    width: 200px;
}
#newPumperName,
li {
    padding: 10px 0;
    margin: 10px 0;
    font-size: 150%;
}
button {
    height: 30px;
    width: 100px;
}
.wrapper {
    margin: 0 auto;
    width: 340px;
}
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid azure;
}
.addNewPumper {
    width: 240px;
    height: 40px;
    font-size: 125%;
}
.bodyWeight {
    font-size: 110%;
    background: orange;
    color: #050505;
    height: 20px;
    width: 50px;
}
.repsRow {
    display: grid;
    grid-template-columns: 100px 30px 10px 40px 40px 60px 40px;
    grid-column-gap: 5px;
    align-items: center;
    & h6,
    & div,
    & input,
    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4px 0px;
        text-align: center;
    }
    & input,
    & select {
        font-size: 110%;
        background: orange;
        color: #050505;
        height: 20px;
    }
    & select {
        height: 26px;
    }
    & .exercise {
        font-size: 70%;
    }
    & .weightInTotal {
        font-size: 140%;
    }
    & .completedSet,
    & .removeSet {
        font-size: 180%;
        height: 28px;
    }
    & .setComplete {
        background: #00cc00;
    }
}
.removeRow {
    max-height: 0;
}
.bottomRow {
    display: flex;
    justify-content: space-between;
    margin: 10px 5px;
}
.hidden {
    display: none;
}
.addExercise {
    display: grid;
    grid-template-columns: 100px 120px 100px;
    grid-template-rows: 30px 20px 30px 50px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid azure;

    & h3 {
      grid-area: 1 / 1 / 2 / 4;
      margin: 0 auto;
    }
    & h6 {
        margin: 0;
        text-align: center;
    }
    & label {
        font-size: 65%;
        text-align: center;
    }
    & .weightType {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    & input[type="text"] {
        height: 20px;
    }
    & input[type="number"] {
        height: 20px;
        width: 70%;
        margin: 0 auto;
    }
    & button {
        width: 50%;
        margin: 10px auto 0px;
        grid-area: 4 / 1 / 5 / 4;
    }
}
.weightLiftedModal {
    width: 300px;
    border: 4px solid dodgerblue;
    border-radius: 8px;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    background: #050505;
    z-index: 100;
}
.closeModal {
    height: 50px;
    width: 104px;
    max-width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}